body {
    background-color: #dbf0f1;
    color: #333;
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
}
p.parrafo {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

header {
    background-color: #1a2e58;
    color: #fff;
    text-align: center;
    padding: 20px;
    }

    section {
    padding: 20px; 
    }
    footer {
    background-color: #1c3366; 
    color: #fff;
    padding: 20px 0; 
    text-align: center;
    }
    .footer-content {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
    }
    
    nav.menu_navegacion {
        background-color: #4c7faf;
        padding: 10px;
        }
        nav.menu_navegacion ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        }
        nav.menu_navegacion ul li {
        display: inline-block;
        margin-right: 20px;
        }
        nav.menu_navegacion ul li a {
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        }
        nav.menu_navegacion ul li a:hover {
        background-color: #82b6b6;
        }
        img {
            display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
            margin: 0 auto; /* Centrar las imágenes horizontalmente */
            max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
            border: 3px solid #27617c; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
            border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
            }
            